.pannier{
    display: flex;
    justify-content: center;
    background-color:rgb(242, 242, 242) ;
}

.pannierTotal{
    border: 3px solid;
    border-radius: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    height: 200px;
    width: 300px;
    margin-left: 30px;
    background-color:white ;
}

.PannierCards{
    width: 740px;
    height: 167px;
    padding: 10px 0 ;
    display: flex;
    border: 1px solid;
    background-color: white;
    /* border-radius: 10px; */
}

.PannierCardImg{
    width:32%;
    margin-left: 1%;
    
}
.PannierCardText{
    width:55%;
    padding-left: 15px;
}
.PannierCardEmoji{
    width:13%;
    margin-right: 1%;
    
}
.iconn:hover{
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 50%;
}
.buttonsIncressDecress{
border: none;
height: 25px;
width: 25px;
margin: 5px;
border-radius: 50%;

}
