@import "~react-image-gallery/styles/css/image-gallery.css";


.btnicon:hover{
  cursor: pointer;
  transform: scale(1.5);
  filter:drop-shadow(0 1px 1px #1a1a1a);
color: #f68b1e;}
  
.btniconwhite:hover{
  cursor: pointer;
  transform: scale(1.5);
  filter:drop-shadow(0 1px 1px #1a1a1a);
color: #fff;}
  
.footer{
  background-color: orangered;
text-align: center;
vertical-align: center;
height: 50px;
}

.tohide{visibility: hidden;}
.onhoverhide:hover>.tohide{
visibility: visible;
}
.hovercursor:hover{cursor: pointer;}
.zaama >::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
